@import url(http://fonts.googleapis.com/css?family=Kanit:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext);


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #ffffff; 
	font-family: 'Kanit', Helvetica, Arial, sans-serif;
	padding-top:70px;
	
} 

p {
	padding:6px;
	line-height:1.6em;
	color:#2d2d2d;
}

a {
	color:#5E1E1F;
}

header {
  width:100%;
  background-image:url(.../images/headerback.jpg);
  background-size:contain;
  margin: 0 auto;
  align-content:center;
}

.container {
	width:1024px;
	margin: 0 auto;
}


/*ipad*/
@media screen and (max-width: 1024px) {
.container {
	width:100%;
	margin:0 auto;
	text-align: center;
}
}

/*iphone*/
@media screen and (max-width: 480px) {
.container {
	width:100%;
	margin:0 auto;
	text-align: center;
}
}

nav {
	position:fixed;
	top:0;
	left:0;
	background-color: #ffffff;
	border-bottom:6px solid #999999;
	height:70px;
	width:100%;
	z-index:100;
}

nav ul{
	float:right;
	width:auto;
	margin-top:15px;
}

nav li {
	width:auto;
	float:left;
}

nav li a {
	font-size:0.8em;
	padding:8px;
	margin:4px;
	display: block;
	text-decoration: none;
	text-transform:uppercase;
	color:#B90306;
	-webkit-transition: all .4s ease-in;
-moz-transition: all .4s ease-in;
-ms-transition: all .4s ease-in;
-o-transition: all .4s ease-in;
transition: all .4s ease-in;


}

nav li a:hover {
	color:#731414;
	background-color:#ededed;

}

#brand {
	float: left;
	margin: 18px;
	width: 200px; 
	text-align:center; 
	font-size:24px; 
	padding:4px; 
	border: solid 2px #000000;
	font-weight:300;
	color:#000000;
}

#masthead h1 {
	font-size:16px;
	font-family:;
	float: left;
	margin: 10px;
	padding-top:18px;
	color:#cdcdcd;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 120px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
    color: #000000;
	text-align:left;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;

}
.popup .close:hover {
  color:#FF0004;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/*iphone*/
@media screen and (max-width: 480px) {

.hide {
	display:none;
}
header {
  width:100%;
  height:160px;
  margin: 0 auto;
}
#brand {
	float: none !important;
	margin: 0 auto !important;
	width: 100%;
	font-size:22px; 
	padding:2px; 
	border: solid 2px #000000;
	font-weight:300;
	color:#000000;
	display:block;
}	
nav {
	position:fixed;
	top:0;
	left:0;
	background-color: #ffffff;
	border-bottom:6px solid #999999;
	height:224px;
	width:100%;
	z-index:100;
	padding-top:10px;
}
#masthead h1 {
	display:none;
	}

nav ul{
	float:none;
	width:100%;
	margin: 0 auto;
	display:block;
	padding-top:18px;
}
nav li {
	width:100%;
	float:none;
}
}

/*ipad*/
@media screen and (max-width: 1024px) {

.container {
	width:100%;
	margin: 0 auto;
}

.hide {
	display:none;
}
#brand {
	float: left;
	margin-top: 20px;
	margin-left:10px;
	width: 114px; 
	text-align:center; 
	font-size:22px; 
	padding:2px; 
	border: solid 2px #000000;
	font-weight:300;
	color:#000000;
}	
#masthead h1 {
	display:none;
	}

}
#main-content {
	padding:25px 0;
	overflow:hidden;
	border-bottom:6px solid #999999;
	position: relative;
}





#hero {
	background-color:#2d2d2d;
	color: #fafafa;
	text-align: center;
	height:350px;
	padding: 20px 0px 20px 0px;
	border-bottom:6px solid #999999;
	position: relative;
	width:100%;
	align-content:center;
	
}


.hero-img {
	background: url('../images/shirt.png') no-repeat center;
	text-align: left;
	height:350px;
	background-size: auto 80%;
	position: relative;
	float:left;
	width:500px;
	border: solid 1px #000000;

}

#hero p {
	padding:6px;
	color:#727272;
}

#hero .text {
	width:380px;
	position: relative;
	text-align: right;
	margin:0 auto;
	padding-top:40px;
	float:right;
	padding-right:100px;
}

#hero h2 {
	font-size:3.4em;
	color:#5E1E1F;
	font-weight: bold;
}


/*ipad*/
@media screen and (max-width: 1024px) {

#hero {
	height:450px;
	padding: 20px 0px 20px 0px;

}

.hero-img {
	background: url('../images/shirt.png') no-repeat center;
	text-align: left;
	height:300px;
	background-size: auto 80%;
	position: relative;
	float:none;
	width:100%;
	background-color:#6d6d6d;
}
#hero .text {
	width:60%;
	text-align: center;
	margin:0 auto;
	padding-left:0px;
	padding-right:0px;
	padding-top:20px;
	float:none;
}
#hero h2 {
	font-size:2.4em;
}
}


/*iphone*/
@media screen and (max-width: 480px) {
	
#hero {
	height:420px;
	padding: 20px 0px 20px 0px;

}

.hero-img {
	background: url('../images/shirt.png') no-repeat center;
	text-align: left;
	height:250px;
	background-size: auto 80%;
	position: relative;
	float:none;
	width:100%;
	background-color:#6d6d6d;
}
	
#hero h2 {
	font-size:2em;
	
}

}


/*

#hero {
	background-color:#d3d3d3;
	color: #fafafa;
	text-align: center;
	height:350px;
	padding: 20px 0px 20px 0px;
	border-bottom:6px solid #999999;
	position: relative;
	width:100%;
	align-content:center;
	
}


.hero-img {
	background: url('../images/shirt.png') no-repeat center;
	text-align: left;
	height:350px;
	background-size: auto 80%;
	position: relative;
	float:left;
	width:500px;
	background-color:#6d6d6d;

}

#hero p {
	padding:6px;
	color:#727272;
}

#hero .text {
	width:380px;
	position: relative;
	text-align: right;
	margin:0 auto;
	padding-top:40px;
	float:right;
	padding-right:100px;
}

#hero h2 {
	font-size:3.4em;
	color:#5E1E1F;
	font-weight: bold;
}


ipad
@media screen and (max-width: 1024px) {

#hero {
	height:450px;
	padding: 20px 0px 20px 0px;

}

.hero-img {
	background: url('../images/shirt.png') no-repeat center;
	text-align: left;
	height:300px;
	background-size: auto 80%;
	position: relative;
	float:none;
	width:100%;
	background-color:#6d6d6d;
}
#hero .text {
	width:60%;
	text-align: center;
	margin:0 auto;
	padding-left:0px;
	padding-right:0px;
	padding-top:20px;
	float:none;
}
#hero h2 {
	font-size:2.4em;
}
}


iphone
@media screen and (max-width: 480px) {
	
#hero {
	height:420px;
	padding: 20px 0px 20px 0px;

}

.hero-img {
	background: url('../images/shirt.png') no-repeat center;
	text-align: left;
	height:250px;
	background-size: auto 80%;
	position: relative;
	float:none;
	width:100%;
	background-color:#6d6d6d;
}
	
#hero h2 {
	font-size:2em;
	
}

}

*/


#contact {
	height:240px;
	width:100%;
	margin: 0 auto;
	background-color:#eeeeee;
	position: relative;
	padding-top:12px;
}

#contact .text {
	width:400px;
	float:left;
	text-align: left;
	padding-top:48px;
	margin-left:40px;
}

#contact img {
	width: 120px;
	float:left;
	margin-left:280px;
	margin-top:32px;
    border-radius: 50%;
	border:solid 8px #ffffff;
	box-shadow:0px 2px 5px #43596E;
	transition: all .5s ease-in;
}

#contact h4 {
	font-size:28px;
	color:#b9299d;
}




#contact img:hover {
	opacity:.4;
	transform:scale(.8) rotate(180deg);
}

#contact a {
	color:#a4c00c; 
}


/*ipad*/
@media screen and (max-width: 1024px) {


#contact {
	height:260px;
	margin: 0 auto;
	width:100%;
}

#contact .text {
	width:40%;
	float:right;
	text-align: left;
	padding-top:48px;
	margin-right:120px;
}

#contact img {
	width: 120px;
	float:left;
	margin-left:36px;
    border-radius: 50%;
	border:solid 8px #ffffff;
	box-shadow:0px 2px 5px #43596E;
	margin-left:120px;
}


}

/*iphone*/
@media screen and (max-width: 480px) {


#contact {
	height:420px;
	margin: 0 auto;
}

#contact .text {
	width:70%;
	float:none;
	text-align: left;
	margin:0 auto;
}


#contact img {
	width: 120px;
	float:none;
    border-radius: 50%;
	border:solid 8px #ffffff;
	box-shadow:0px 2px 5px #43596E;
	margin: 0 auto;
	margin-top:40px;
}

}





#about {
background-color:#ffffff;
margin:0 auto;
width:auto;
height:480px;
border-bottom:6px solid #d3d3d3;
padding-top:60px;
}

#about h2 {
	font-size:36px;
	font-weight: bold;
	color:#9c3e8a;
	text-align: left;
	line-height:1.3em;
	padding-top:12px;
}

p.about {
	text-align: left;
	color:#2d2d2d;
	display:block;
}

#about .btn {
	border-bottom: solid 3px #77306d;
	border-top: none;
	border-left: none;
	border-right:none;
	color: #ffffff;
	font-size:14px;
	cursor: pointer;
	padding: 15px 70px;
	display: inline-block;
	margin: 15px 10px;
	text-transform: uppercase;
	text-decoration:none;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	background-color:#9c3e8a;
	float:left;
	-webkit-transition: all .4s ease-in;
-moz-transition: all .4s ease-in;
-ms-transition: all .4s ease-in;
-o-transition: all .4s ease-in;
transition: all .4s ease-in;
}

#about .btn:hover {
	background-color:#77306d;
}

#about img {
	float: left;
	display:block;
	padding-right:80px;
	padding-left:40px;
}




/*ipad*/
@media screen and (max-width: 1024px) {

#about {
height:500px;
padding-top:20px;
}	

#about img {
	display:none;
}

#about h2 {
	font-size:28px;

}

}

/*iphone*/
@media screen and (max-width: 480px) {

#about {
height:680px;
padding-top:30px;
}

#about img {
	display:none;
}


}

